<table class="email-footer" align="center" width="580" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td>
      <div class="footer-inner">
        <p class="footer-tagline">Europe's premier water sports shop since 2003</p>

        <p class="footer-links">
          <a href="https://www.surf-store.com">Shop</a>
          <a href="https://www.surf-store.com/en/blog">Blog</a>
          <a href="https://www.surf-store.com/en/pages/shipping-and-returns">Shipping &amp; Returns</a>
          <a href="https://www.surf-store.com/en/pages/contact">Contact</a>
        </p>

        <hr class="footer-divider" />

        <p class="footer-legal">
          &copy; <%= Time.current.year %> Surf-store.com &nbsp;&bull;&nbsp;
          <a href="https://www.surf-store.com/en/pages/privacy-policy" style="color:#475569;">Privacy Policy</a>
          &nbsp;&bull;&nbsp;
          <a href="https://www.surf-store.com/en/pages/terms-of-service" style="color:#475569;">Terms of Service</a>
          <br>
          You received this email because you placed an order at surf-store.com.
        </p>
      </div>
    </td>
  </tr>
</table>
