<tr>
  <td class="email-masthead" style="padding: 24px 0 20px; text-align: center; background-color: #ffffff; border-bottom: 1px solid #E5E7EB;">
    <%= render 'spree/shared/mailer_logo', logo: current_store.mailer_logo.attached? ? current_store.mailer_logo : current_store.logo, height: 52 %>
  </td>
</tr>
