<p id="payment-and-conditions" class="text-xs mt-2 mb-4">
    By placing this order you agree to
    <a href="/policies/terms-and-conditions" target="_blank" class="text-primary underline">Terms of Service</a> and
    <a href="/policies/privacy-policy" target="_blank" class="text-primary underline">Privacy Policy</a>.
  </p>
